<div id="footer">
<hr>
<footer class="container">
    <div class="float-right">
        <a href="https://www.facebook.com/KlubSportowyKodokan" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a href="https://www.instagram.com/kskodokan" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://plus.google.com/+kodokangliwice" target="_blank"><i class="fab fa-google-plus-g"></i></a>
    </div>
    <p><i class="far fa-copyright"></i> Copyright 2018 K.S "Kodokan" - All Rights Reserved</p>
</footer>
</div>