
<!-- COMMON TAGS -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=no">
<title>Kodokan - Centrum Sztuk Walk</title>
<!-- Search Engine -->
<meta name="description" content="Wszystkie sztuki i sporty walki w jednym miejscu i za jedną cenę. Rozpocznij przygodę! MMA, Boks, BJJ, Krav Maga, Muay Thai, Kick Boxing, Mastro.">
<meta name="image" content="/assets/images/siteImage.jpg">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Kodokan - Centrum Sztuk Walk">
<meta itemprop="description" content="Wszystkie sztuki i sporty walki w jednym miejscu i za jedną cenę. Rozpocznij przygodę! MMA, Boks, BJJ, Krav Maga, Muay Thai, Kick Boxing, Mastro.">
<meta itemprop="image" content="/assets/images/siteImage.jpg">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Kodokan - Centrum Sztuk Walk">
<meta name="og:description" content="Wszystkie sztuki i sporty walki w jednym miejscu i za jedną cenę. Rozpocznij przygodę! MMA, Boks, BJJ, Krav Maga, Muay Thai, Kick Boxing, Mastro.">
<meta name="og:image" content="http://mma.gliwice.pl/previewImage.jpg">
<meta name="og:url" content="http://mma.gliwice.pl/">
<meta name="og:site_name" content="Kodokan - Centrum Sztuk Walk">
<meta name="og:locale" content="pl_PL">
<meta name="og:video" content="https://www.youtube.com/video_id">
<meta name="fb:admins" content="141143919329571">
<meta name="og:type" content="website">