            <img src="/images/v_1.png">
            <!--<h1 id="first-h1">Rozpocznij przygodę!</h1>-->
            <h1>Wszystkie sztuki walki w jednym miejscu i za jedną cenę! <!--<br> Rozpocznij przygodę!--></h1>
            <!--<a href="/customer/register">--><button type="button" id="register" class="btn btn-primary btn-lg animated pulse infinite">Dołącz do nas</button><!--</a>-->
            <a href="/about"><button type="button" id="about" class="btn btn-outline-secondary btn-lg">O klubie</button></a>