<body>
        <form action="/customer/login" method="POST" class="animated fadeInUp">
            <h1>Zaloguj się!</h1>
            <div class="form-group has-float-label">
                <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
                <label for="exampleInputEmail1">Podaj e-mail</label>
            </div>
            <div class="form-group has-float-label">
                <input class="form-control" id="password" name="password" type="password" placeholder="Hasło"/>
                <label for="password">Wpisz hasło</label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Zaloguj</button>
        </form>
</body>