<form action="/customer/registerMail" method="POST" class="animated fadeInUp">
    <h1>Dołącz do ekipy Kodokanu!</h1>
    <div class="form-group has-float-label">
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
        <label for="exampleInputEmail1">Podaj e-mail</label>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Wyślij zgłoszenie!</button>
</form>